.Rproj.user
.Rhistory
.RData
.Ruserdata
sample.design.Rproj
scratchpad.R
test_balance_refactor.R
scratchpad_rastertopoly.R
*.txt
R/ranked_sort_scratchpad.R
R/find_preferences_scratchpad.R
find_preferences_scratchpad.R
ranked_sort_scratchpad.R
KEMMERER.RData
KEMMERER_20200301.RData
revisit_development_checkpoint_20200205.RData
slvfo_20200310.RData
balanced_design_implementation_20200626.docx
fillmore_troubleshooting_20200602.RData
fillmore_troubleshooting_2years_20200602.RData
find_pairs_scratchpad.R
gufo_troubleshooting_20200519.RData
polygon_examplefigures_scratchpad.R
gufo_troubleshooting_20200529.RData
slvfo_troubleshooting_20200526.RData
slvfo_20200609.RData
slvfo_troubleshooting_20200612.RData
sample.dbf
sample.shp
sample.shx
